.wrapper{
	background: #222;
	border-radius: 5px;
	border-top-color: #e02b2b;
	width: 700px;
	border-top: 5px solid #fb6c27;
	padding: 20px 0 20px 0;
	font-family: Arial;
	.category{
		margin-bottom: 15px;
		&__name{
		    margin-left: 20px;
    		margin-bottom: 15px;
			a{
				font-weight: bold;
				font-family: Arial;
				text-decoration: none;
				color: #fff;
				font-size: 24px;
				i{
					
				}
			}
		}
		&__control{
			text-align: center;
			float: right;
			padding: 10px 10px 0 0;
			.dotted {
				width: 8px;
				height: 8px;
				background: #c4c4c4;
				border-radius: 50%;
				margin: 3px;
				display: inline-block;
			}
			.slide-active {
				background-color: #ff8000;
			}
		}
	}
	.news{
		width: 700px;
		height: auto;
		&__slide{
			position: relative;
			overflow: hidden;
			z-index: 100;
			.slide__gallery{
				list-style: none;
				margin: 0px;
				padding: 0px;
				width: 10000px;
				height: 278px;
				overflow-x: hidden;
				overflow-y: hidden;
				display: flex;
				white-space: nowrap;
				position: relative;
				transition: 0.5s;
				.gallery__item{
					background: transparent !important;
					width: 260px;
					height: 278px;
					margin-left: 20px;
					border-radius: 5px;
					a{
				    	display: block;
					    width: 260px;
					    height: 165px;
					    position: relative;
					    img{
							width: 100%;
							height: 100%;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
						}
					}
					.title{
						padding: 20px 5px;
						margin: 0px;
						background: #fff;
						a{
							text-decoration: none;
							color: #222;
							white-space: pre-line;
							font-size: 17px;
						}
					}
					
				}
			}
			.btn{
				// button control next-previous
				&__prev, &__next, &--disable {
					position: absolute;
					width: 35px;
					height: 95px;
					z-index: 10;
					cursor: pointer;
					top: 120px;
				}
				// button previous
				&__prev {
					background: url("images/kenh14-vn.png") -70px -137px no-repeat;
					left: 0px;
					background-color:#e02b2b;
					border-radius: 0 3px 3px 0;
				}
				// button next
				&__next {
					background: url("images/kenh14-vn.png") -115px -137px no-repeat;
					right: 0;
					background-color: #e02b2b;
					border-radius: 3px 0 0 3px;
				}
				&__prev, &__next {
					&:hover {
						background-color: rgba(251, 108, 39, 1);
						.news-list {
							left: -20px;
						} 
					}
				}
				//button disable
				&--disable {
					background-color: #333 !important;
					opacity: .8;
					pointer-events: none;
				}
				&:hover {
					&__prev {
						animation-name: show__btn-prev;
						animation-duration: .5s;
						-webkit-animation-name: show__btn-prev;
						-webkit-animation-duration: .5s;
						left: 0;
					}
					&__next {
						animation-name: show__btn-next;
						animation-duration: .5s;
						-webkit-animation-name: show__btn-next;
						-webkit-animation-duration: .5s;
						right: 0;
					}
				}
			}
			
		}

		// animation show button previous of slide
		@keyframes show__btn-prev {
			from {left: -35px}
			to {left: 0px}
		}
		@-webkit-keyframes show__btn-prev {
			from {-webkit-left: -35px}
			to {-webkit-left: 0px}
		}

		@keyframes show__btn-next {
			from {right: -35px}
			to {right: 0px}
		}
		@-webkit-keyframes show__btn-next {
			from {-webkit-right: -35px}
			to {-webkit-right: 0px}
		}
	}
}
