@font-face {
	font-family: "main-font";
	src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype"),
}
@font-face {
	font-family: "logo-font";
	src: url("../font/Inconsolata-Regular.ttf") format("truetype"),
}
@font-face {
	font-family: "category-font";
	src: url("../font/Ubuntu-L.ttf") format("truetype"),
}
$color_text_main : #626262;
body{
	margin: 0px;
	svg{
			fill: #5d5d5d;
		}
}
.container{
	width: 100%;
	margin: 0px auto;
	font-family: main-font;
	color: $color_text_main;
	
	@import "component/header";
	

	@media screen and (min-width: 768px){
		.category{
			font-family: category-font;
			font-size: 14px;
			color: #b4ad9e;
			text-transform: uppercase;
			padding: 40px 0;
		}
		font-size: 14px;
		line-height: 21px;
		.category_child{
				font-family: category-font;
				text-transform: uppercase;
				padding : 17px 0;
			}
		.col-md-6{
			width: 50%;
			box-sizing: border-box;
			padding: 67px 0;
			&:nth-child(even){
				padding-left: 30px;
			}
			&:nth-child(odd){
				padding-right: 30px;
			}
			.title{
				padding: 17px 0;
				font-size: 30px;
			}
			.sumary{
				padding: 20px 0 0 0;
			}
		}
		.col-md-4{
			width: 33.33%;
		}
	}
	@media screen and (max-width: 767px){
		font-size: 12px;
		line-height: 18px;
		.category{
			font-family: category-font;
			font-size: 14px;
			color: #b4ad9e;
			text-transform: uppercase;
			padding: 15px 0;
		}
		.category_child{
				font-family: category-font;
				text-transform: uppercase;
				padding : 10px 0;
			}
		.col-xs-12{
			width: 100%;
			.category_child{
				font-family: category-font;
				text-transform: uppercase;
				padding : 10px 0;
			}
		}
		.col-xs-8{
			width: 66.66666667%;
		}
	}
	@import "component/minimo-1";
	@import "component/minimo-2";
	@import "component/minimo-3";
	@import "component/sign-up";
	@import "component/footer";
}
