@media screen and (min-width: 768px) {
  /* line 2, ../sass/pinball.scss */
  body {
    width: 100%;
    margin: 0px auto; }
    /* line 6, ../sass/pinball.scss */
    body .wrapper {
      margin: 0px auto;
      width: 100%; }
      /* line 9, ../sass/pinball.scss */
      body .wrapper ul {
        list-style: none;
        padding: 0px;
        margin: 0px auto;
        position: relative; }
        /* line 15, ../sass/pinball.scss */
        body .wrapper ul li {
          position: absolute; } }
@media screen and (max-width: 768px) {
  /* line 24, ../sass/pinball.scss */
  body {
    margin: 0px; }
    /* line 27, ../sass/pinball.scss */
    body ul {
      list-style: none;
      display: flex;
      padding: 0px;
      margin: 0px; } }

/*# sourceMappingURL=pinball.css.map */
