
@mixin define_background($color) {
	background-image: $color;
	background-color: $color;
}
@mixin define_ul($height) {
	list-style-type: none;
	display: block;
	height: $height;
}
@mixin define_a($color) {
	text-decoration: none;
	text-transform: capitalize;
	color: $color;
	font-weight: bold;
	display: block;
	height: 100%;
}
@mixin define_li($w_padding,$h_padding) {
	display: inline-block;
	line-height: 40px;
	height: 100%;
	float: left;
	a{
		@include define_a(#fff);
	}
	padding: $w_padding $h_padding;
}