@import "master_menu";
.nav{
	font-family: Arial;
	font-size: 15px;	
	@include define_background(#222222);
	@include define_ul(40px);
	.logo{
			padding: 0px !important;
		}
	li{
		@include define_li(0px,15px);
		&:hover{
			background-color: #fff;
			a{
				color: #000;
			}
		}
	}
}