@import "master_menu";
.nav{
	font-family: Arial;
	font-size: 11px;
	/*@include define_background(linear-gradient(#5d87d4,#0c306a ));*/
	background: url('../images/bg-dantri.png') repeat-x;
	@include define_ul(27px);
	.logo{
			padding: 0px !important;
		}
	li{
		@include define_li(0px, 5px);
		line-height: 27px;
		border-right: 1px solid #3e70af;
		&:hover{
			background-color: 	rgba(102, 150, 204, 0.81);
			a{
				color: #fff;
			}
		}
	}
}