
body{
	width: 30%;
	margin: 0px auto;
	font-family: Arial;
	line-height: 1.2;
	.category{
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
		border-left: 5px solid #fc6129; 
		padding:0 0 5px 10px;
	}
	.container{
		padding: 10px 0;
	}
	.larger{
		.title{
			font-size: 26px;
			font-weight: bold;
			padding-bottom: 30px;
		}
	}
	.small{
		display: flex;
		.title{
			font-size: 18px;
			font-weight: bold;
			padding-left: 15px;
		}
	}
}