body{
	display: flex;
	flex-direction: column;
	font-family: Arial;
}
.container{
	width: 50%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	padding: 20px 0;
	border-bottom: 0.1px solid #d2cece;
	color: #333333;
	line-height: 1.5;
	.img_cover{
		width: 75%;
	}
	.article{
		padding-left: 20px;
		a{
			text-decoration: none;
			font-weight: bold;
		}
		.title{
			font-weight: bold;
			font-size: 18px;
		}
		.info, .sumary{
			font-size: 13px;
		}
	}
}