
.col-12{
	width: 50%;
	padding: 0 10px;
	margin: 0px auto;
	display: block;
	padding-left: 30px;
	font-family: Arial;
	.category{
		text-transform: uppercase;
		font-size: 24px;
		border-left: 5px solid #f96c34;
		padding-left: 10px;
		font-weight: bold;

	}
	.day,.month,.year,.btn{
		border-radius: 5px;
		height: 30px;
		
	}
	.btn{
		font-weight: bold;
		background-color: #777777;
		color: #fff;
		width: 65px;
		border: none;
	}

}
.container{
	padding-top: 30px;	
	width: 50%;
	margin: 0px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 32% 32% 32%;
	font-family: Arial;
	line-height: 1.5;
	color: #222222;
		.col-4{
			width: 100%;
			display: block;
			float: left;
			padding: 0 10px;
		}
		.title{
			font-size: 16px;
			font-weight: bold;
			.hot{
				font-weight: bold;
				background-color: #777777;
				color: #fff;
				padding: 5px;
				border-radius: 5px;
				border: none;
			}
			.time{
				font-weight: 300;
				color:gray;
			}
		}

}
