
.trend{
	background-color: #f5f5f5;
	font-family: Arial;
	width: 64%;
	margin: 0px auto;
	height: 400px;
	font-weight: bold;
	line-height: 1.5;
	.category{
		font-size: 30px;
		padding: 10px;
		text-transform: uppercase;

		&:before{
			content: "↝";
			font-size: 30px;
			color: orange;
			padding-right: 25px;
		}
	}
	.container{
		background: #f5f5f5;
		width: 100%;
		.wrapper{
			list-style: none;
			padding: 0px;
			.slide{
				width: 260px;
				height: 278px;
				float: left;
				margin: 10px;
				background: #fff;
				.img_cover{
					height: 163px;
					position: relative;
					display: block;
					.view{
						display: block;
						width: 100%;
						height: 40px;
						position: absolute;
						bottom: 0px;
						background-color: rgba(0, 0, 0, 0.81);
						color: #fff;
						img{
							width: 10%;
							position: absolute;
							top: 8px;
							left: 5px;
						}
						.count{
							font-weight: 100;
							left: 15%;
							top: 20%;
							position: absolute;

						}
					}
				}

				.title{
					padding: 10px;
				}
			}
		}
		.pagination-bullets{
			display: -webkit-inline-box;
			position: relative;
			left: 40%;
			.bullet{
				padding: 0 10px;
				&:before{
					content: "○";

				}
			}
		}
		.btn{
			font-size: 40px;
			color: #fff;
			
		}
		.btn-previous{
			&:before{
				position: absolute;
				top: 30%;
				content :"🡐";
				float: left;
				background-color: #000000ab;

			}
		}
		.btn-next{
			&:before{
				content :"🡒";
				position: absolute;
				top: 30%;
				right: 18%;
				background-color: #000000ab;
			
			}
		}	

	}
}