
.playlist-wrapper{
	display: flex;
	width: 50%;
	margin: 0px auto;
	font-family: Arial;
	height: 350px;
	overflow: hidden;
	.video-play{
		width: 100%;
		height: auto;
		position: relative;
		.video{
			width: 100%;
			height: 100%;
		}
		.logo{
			float: left;
			display: block;
			background: url('http://kenh14cdn.com/2018/mutex-on-stream-logo-1515474404046.png') left top no-repeat;
			background-size: 100px;
			width: 100px;
			height: 30px;
			position: absolute;
			top: 7%;
			margin-left: 2%;
		}
		.source{
			position: absolute;
			margin-left: 77%;
			font-size: 10px;
			top: 7%;
			color: #fff;
			width: 15%;
			text-align: right;
			font-weight: bold;
		}
		.sub{
			/* margin-bottom: 15%; */
			position: absolute;
			bottom: 0px;
			padding:10px;
			color: #fff;
			font-weight: bold;
			font-size: 25px;
			background: rgba(6,6,6,0.31);
			span{
				color: red;
				font-size: 30px;
			}
			&:hover{
				margin-bottom: 15%;
			}
		}
	}
	.right{
		.mutex-header{
			background-color: rgba(0,2,34,.1);
			padding:12px 15px 15px; 
			span{
				display: block;
				background: url('http://kenh14cdn.com/2018/mutex-on-stream-logo-1515474404046.png') left top no-repeat;
				background-size: 86px;
				width: 86px;
				height: 20px;
			}
		}
		.wrapper{
			padding:0px;
			margin:0px;
			height: 100%;
			overflow-y: scroll;
			/* width */
				&::-webkit-scrollbar {
				  width: 8px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
				  box-shadow: inset 0 0 5px grey; 
				  border-radius: 3px;
				}
				 
				/* Handle */
				&::-webkit-scrollbar-thumb {
				  background: gray; 
				  border-radius: 3px;
				}

				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
				  background: gray; }

			.list{
				.img_cover{
					width: 45px;
					height: 45px;
					margin-right: 10px;
					img{
						border-radius: 3px;
						width: 45px;
						height: 100%;
					}
				}
				display: flex;
				padding: 10px;
				&:hover{
					background-color: #f1f1f1;
				}
			}
			.title{
				font-size: 13px;
				font-weight: bold;
				a{
					text-decoration: none;
					color: #222222;
				}
			}
			.info{
				display: block;
				font-size: 12px;
				font-weight: 100;
				color: #888;
			}
		}
	}
}