
body{
	font-family: arial;
}
.container{
	width: 30%;
	margin: 0px auto;
	.wrapper{
		
		.list{
			display: flex;
			padding: 10px;
			&:hover{
				background-color: #f1f1f1;
			}
			.img_cover{
				width: 45px;
				height: 45px;
				margin-right: 10px;

				img{
					width: 45px;
					height: 100%;
					border-radius: 3px;
				}

			}
		}
		.title{
			font-size: 13px;
			font-weight: bold;
			a{
				text-decoration: none;
				color: #222222;
			}
		}
		.info{
			display: block;
			font-size: 12px;
			font-weight: 100;
			color: #888;
		}
	}
	
}