.news{
	width: 35%;
	margin: 0px auto;
	font-family: arial;
	.container{
		.header{
			.category{
				text-transform: uppercase;
				font-size: 30px;
				font-weight: bold;
			}
			.scroll{
				float: right;
				button{
					width: 50px;
					border-radius: 5px;
					height: 30px;
					font-size: 20px;
				}
			}
		}
		.content{
			.wrapper{
				padding:20px;
				background-color: #fffbf6;
				border: 0.5px solid gray;
				border-radius: 3px;
				height: 500px;
				overflow-y: scroll;
				list-style: none;
				/* width */
				&::-webkit-scrollbar {
				  width: 8px;
				}

				/* Track */
				&::-webkit-scrollbar-track {
				  box-shadow: inset 0 0 5px grey; 
				  border-radius: 10px;
				}
				 
				/* Handle */
				&::-webkit-scrollbar-thumb {
				  background: gray; 
				  border-radius: 10px;
				}

				/* Handle on hover */
				&::-webkit-scrollbar-thumb:hover {
				  background: gray; 
				}
				.item{
					display: flex;
					flex-direction: rows;
					border-bottom: 1px dotted gray;
					.time{
						color: orange;
						border-right: 1px dotted gray;
						padding-right: 15px;
					}
					.title{
						border-left: 1px dotted gray;
						padding-left: 15px;
						a{
							text-decoration: none;
							font-weight: bold;
							color: #222222;
					}
					}
				}
			}
		}
	}
}