@media screen and (max-width: 767px){
	&__first{
		.article{
			
			color: $color_text_main;
			&__title{
				font-size: 18px;
				padding-bottom: 15px;
			}
			&__sumary{

			}
		}
	}
}


@media screen and (min-width: 768px){
	&__first{
		.article{
			
			color: $color_text_main;
			&__title{
				font-size: 30px;
				padding-bottom: 45px;
			}
			&__sumary{

			}
		}
	}
}
