.footer{
	background: #f0f0f0;
	a{
		text-decoration: none;
		color: $color_text_main;
	}
	.left{
			float: left;
		}
	.right{
		float: right;	
		
	}
	@media screen and (max-width: 767px){
		margin-top: 20px;
		padding: 20px 20px;
		
	}
	@media screen and (min-width: 767px){
		margin-top: 70px;
		padding: 40px 150px;
		
	}
	
}