.header{
	@media screen and (min-width: 768px){
		position: relative;
		margin: 0px 83px;
		.menu{
			text-transform: uppercase;
			display: inline-flex;
			&__logo{
				font-family: logo-font;
				color: #000;
				margin: 70px 0;
				font-size: 30px;
			}
			&__nav{
				position: absolute;
				right: 0px;	
				ul{
					list-style: none;
					margin: 70px 0;
					li{
						display: inline;
						padding-left: 45px;
						a{
							text-decoration: none;
							color: $color_text_main;
						}
					}
				}
				
			}
			&__toggle{
				display: none;
			}
		}
		.banner{
			margin-bottom: 55px;
		}
	}
	@media screen and (max-width: 767px){
		position: relative;
		margin: 0px;
		.menu{
			text-transform: uppercase;
			text-align: center;
			&__logo{
				font-family: logo-font;
				color: #000;
				font-size: 40px;
				line-height: 40px;
			}
			&__nav{
				display: none;
				
			}
			&__toggle{
				svg{
					float: right;
				}
				.menu-collapsible{
					ul{
						padding: 2px 0 2px 0;
						li{
							padding: 3px 0 3px 0;
							a{
								text-decoration: none;
								color: $color_text_main;
							}
							&:hover{
								background: #cfcfcf;
							}
						}
					}
				}
			}
		}
		.banner{
			margin: 10px 0;
		}
	}
	
}