@media screen and (max-width: 767px){
	.minimo-3{
		margin-top: 30px;
		.about-me{
			margin: 5px;
			.top-posts{
				ul{
					li{
						a{
							text-decoration: none;
							color: $color_text_main;
							font-weight: bold;
						}
						p{
							text-transform: uppercase;
							color: #c9c9c7;
							font-family: category-font;
							font-size: 12px;
						}
					}
				}
				
			}
			.ads{
				width: 250px;
				height: 250px;
				background: gray;
				font-size: 60px;
				font-family: category-font;
				color: #fff;
				text-align: center;
				box-sizing: border-box;
				padding-top:100px;
				margin-bottom: 20px;
			}
		}
	}
}


@media screen and (min-width: 767px){
	.minimo-3{
		display: flex;
		margin-top: 100px;
		.about-me{
			margin-left: 40px;
			.top-posts{
				ul{
					li{
						a{
							text-decoration: none;
							color: $color_text_main;
							font-weight: bold;
						}
						p{
							text-transform: uppercase;
							color: #c9c9c7;
							font-family: category-font;
							font-size: 12px;
						}
					}
				}
				
			}
			.ads{
				width: 250px;
				height: 250px;
				background: gray;
				font-size: 60px;
				font-family: category-font;
				color: #fff;
				text-align: center;
				box-sizing: border-box;
				padding-top:100px;
			}
		}
	}
}

