@media screen and (max-width: 767px){
.content{
	margin-top: 20px;
	.minimo-2{
		.article{
			margin-bottom: 100px;
			img{
			}
			blockquote{
				font-style: oblique;
				&:before{
					content: '"';
				}
				&:after{
					content: '"';
				}
			}
			.share{
				font-family: category-font;
				float: right;
				margin: 50px 0 0 0;
			}
		}
		
		
	}
	.comment{
		.list-comment{
			.item{
				display: flex;
				margin: 12px 0;
				&__avt{
					margin-right: 10px;
					img{
						border-radius: 30px;
						width: 40px;
						height: 40px;
					}
				}
				&__cmt{
					width: 100%;
					textarea{
						font-family: main-font;
						padding: 10px 0 0 0px;
						margin-right: 5px;
					}
					.connect{
						float: right;
						margin: 10px 0;
						span{
						font-family: category-font;
						text-transform: uppercase;
						color: #c9c9c7;
					}
					}
					
					.name{
						font-weight: bold;
						padding: 10px 0;
					}
					.reply{
						.-fainter{
							
							a{
								text-decoration: none;
								color: #c9c9c7;
							}
						}
					}
				}
				
			}
		}
	}
	
}
.more{
	padding: 10px 10px;
	background: #f7f7f7; 
	.wrapper{
		display: block;
		figure{
			margin: 1px;
			padding: 3px;
			a{
				text-decoration: none;
				color: $color_text_main;
			}
		}
	}
}
}


@media screen and (min-width: 767px){
	.content{
		margin-top: 100px;
	.minimo-2{
		.article{
			margin-bottom: 100px;
			img{
				margin: 30px 0;
			}
			blockquote{
				font-style: oblique;
				&:before{
					content: '"';
				}
				&:after{
					content: '"';
				}
			}
			.share{
				font-family: category-font;
				float: right;
				margin: 50px 0 0 0;
				color: #c9c9c7;
			}
		}
		
		
	}
	.comment{
		.list-comment{
			.item{
				display: flex;
				margin: 30px 0;
				&__avt{
					margin-right: 40px;
					img{
						border-radius: 30px;
					}
				}
				&__cmt{
					width: 100%;
					textarea{
						font-family: main-font;
						padding: 20px;
					}
					.connect{
						float: right;
						margin: 50px 0;
						span{
						font-family: category-font;
						text-transform: uppercase;
						color: #c9c9c7;
					}
					}
					
					.name{
						font-weight: bold;
						padding: 10px 0;
					}
					.reply{
						.-fainter{
							
							a{
								text-decoration: none;
								color: #c9c9c7;
							}
						}
					}
				}
				
			}
		}
	}
	
}
.more{
	padding: 60px 180px;
	background: #f7f7f7; 
	.wrapper{
		display: inline-flex;
		figure{
			a{
				text-decoration: none;
				color: $color_text_main;
			}
		}
	}
}
}

