@media screen and (max-width: 767px){
	.content{
		padding: 0px 5px;
		margin: 0px 0px;
		@import "content-1";
		&__second, &__third{
			.article{
				display: flex;
				flex-wrap: wrap;

			}
			
		}
		&__more{
			padding-top:25px;
			text-align: center;
			button{
				padding: 10px 15px; 
				font-family: main-font;
				font-size: 14px;
				color: $color_text_main;
			}
			
		}
	}
}

@media screen and (min-width: 768px){
	.content{
		padding: 0px 100px;
		margin: 0px 83px;
		@import "content-1";
		&__second, &__third{
			.article{
				display: flex;
				flex-wrap: wrap;

			}
			
		}
		&__more{
			padding-top: 100px;
			text-align: center;
			button{
				padding: 25px 30px; 
				font-family: main-font;
				font-size: 20px;
				color: $color_text_main;
			}
			
		}
	}
}