@media screen and (max-width: 767px){
	.sign-up{
		text-align: center;
		background: #f0f0f0;
		padding: 20px 10px;
		margin: 20px 0;
		p{
			color: #333333;
			font-size: 16px;

		}
		input{
			padding: 15px 0;
			font-family: main-font;
			border: none;
			border-bottom: 1px solid #333333;
			background: none;
			font-size: 12px;
		}
		button{
			background: none;
			border:none;
			position: absolute;
			right: 60px;
			img{
				padding: 15px 0;
			}
		}
	}
}

@media screen and (min-width: 768px){
	.sign-up{
		text-align: center;
		background: #f0f0f0;
		padding: 80px 0;
		margin-bottom: 20px;
		p{
			color: #333333;
			font-size: 30px;

		}
		input{
			padding: 15px 0;
			font-family: main-font;
			border: none;
			border-bottom: 1px solid #333333;
			background: none;
		
		}
		button{
			background: none;
			border:none;
			position: absolute;
			right: 445px;
			img{
				padding: 15px 0;
			}
		}
	}
}