body {
	display: flex;
	flex-direction: column;
}

.container{
	font-family: Arial;
	width: 50%;
	margin: 0px auto;
	display: flex;
	flex-direction: row;
	padding: 7px 0;
	.img_cover{
		max-width: 20%;
		padding-right: 20px;
	}
	.title{
		font-size: 20px;
		font-weight: bold;
		text-decoration: none;
		color: #000;
	}
}