$page_font:normal 20px/1.5 'Open Sans', sans-serif, ;
$title_font: bold 30px/1.5 'Open Sans', sans-serif;
@mixin wrapper($width,$height) {
	width: $width;
	height: $height;
	margin: 0px auto;
}
#wrapper{
	@include wrapper(720px,812px);
	.img_cover{
		max-width: 100%;
	}
	.title{
		font: $title_font;
	}
	.sumary{
		color: #444444;
		font: $page_font;
	}
}