.container{
	font-family: Arial;
	border-bottom: 1px dotted gray;
	padding-bottom: 10px;
	width: 50%;
	margin: 0px auto;
	.time{
		color: #fd8553;
		border-right: 1px dotted gray;
		padding-right: 5px;
	}
	.title{
		padding-left: 10px;
		font-weight: bold;
		text-decoration: none;
		color:#2d2d2d;
	}
}