/* line 1, ../sass/ads_300x600.scss */
.ads_300x600 {
  font-family: Arial;
  width: 300px;
  height: 600px;
  position: relative;
  border: 1px solid #f1f1f1; }
  /* line 8, ../sass/ads_300x600.scss */
  .ads_300x600 .ads_header .ads_name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: #89060d;
    padding: 10px 5px;
    color: #fff; }
  /* line 16, ../sass/ads_300x600.scss */
  .ads_300x600 .ads_header .ads_logo {
    background: url("images/adxlogo-2.png") no-repeat top left;
    width: 35px;
    height: 20px;
    position: absolute;
    z-index: 9;
    top: 0px;
    right: 0px; }
    /* line 24, ../sass/ads_300x600.scss */
    .ads_300x600 .ads_header .ads_logo .ads_logo_text {
      display: none; }
    /* line 27, ../sass/ads_300x600.scss */
    .ads_300x600 .ads_header .ads_logo:hover {
      background: url("images/adxlogo-2-hover.png") no-repeat top left;
      text-decoration: none;
      width: 109px;
      padding-left: 10px; }
      /* line 32, ../sass/ads_300x600.scss */
      .ads_300x600 .ads_header .ads_logo:hover .ads_logo_text {
        display: block;
        font-size: 11px;
        color: #9b9b9b;
        font-weight: 600;
        padding-left: 16px;
        line-height: 17px;
        text-decoration: none; }
  /* line 44, ../sass/ads_300x600.scss */
  .ads_300x600 .content_wrapper {
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px; }
    /* line 49, ../sass/ads_300x600.scss */
    .ads_300x600 .content_wrapper li {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid #f1f1f1;
      padding: 13px; }
      /* line 55, ../sass/ads_300x600.scss */
      .ads_300x600 .content_wrapper li .img img {
        width: 75px;
        height: 75px; }
      /* line 60, ../sass/ads_300x600.scss */
      .ads_300x600 .content_wrapper li .title {
        margin-left: 7px;
        padding-top: 15px; }
        /* line 63, ../sass/ads_300x600.scss */
        .ads_300x600 .content_wrapper li .title a {
          font-weight: bold;
          font-size: 13px;
          line-height: 15px;
          color: #554e4e;
          text-decoration: none; }
  /* line 73, ../sass/ads_300x600.scss */
  .ads_300x600 .donor {
    font-size: 13px;
    color: #959595;
    padding-left: 13px;
    line-height: 32px; }
    /* line 78, ../sass/ads_300x600.scss */
    .ads_300x600 .donor a {
      color: #89060d;
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=ads_300x600.css.map */
