/* line 1, ../sass/ads_160x600.scss */
.ads_160x600 {
  font-family: Arial;
  width: 160px;
  height: 600px;
  position: relative;
  border: 1px solid #f1f1f1; }
  /* line 8, ../sass/ads_160x600.scss */
  .ads_160x600 .ads_header .ads_name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: #24ab48;
    padding: 10px 5px;
    color: #fff; }
  /* line 16, ../sass/ads_160x600.scss */
  .ads_160x600 .ads_header .ads_logo {
    background: url("images/adxlogo-2.png") no-repeat top left;
    width: 35px;
    height: 20px;
    position: absolute;
    z-index: 9;
    top: 0px;
    right: 0px; }
    /* line 24, ../sass/ads_160x600.scss */
    .ads_160x600 .ads_header .ads_logo .ads_logo_text {
      display: none; }
    /* line 27, ../sass/ads_160x600.scss */
    .ads_160x600 .ads_header .ads_logo:hover {
      background: url("images/adxlogo-2-hover.png") no-repeat top left;
      text-decoration: none;
      width: 109px;
      padding-left: 10px; }
      /* line 32, ../sass/ads_160x600.scss */
      .ads_160x600 .ads_header .ads_logo:hover .ads_logo_text {
        display: block;
        font-size: 11px;
        color: #9b9b9b;
        font-weight: 600;
        padding-left: 16px;
        line-height: 17px;
        text-decoration: none; }
  /* line 44, ../sass/ads_160x600.scss */
  .ads_160x600 .ads_content_header {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1; }
    /* line 49, ../sass/ads_160x600.scss */
    .ads_160x600 .ads_content_header .title a {
      font-weight: bold;
      font-size: 13px;
      line-height: 20px;
      color: #554e4e;
      text-decoration: none; }
    /* line 56, ../sass/ads_160x600.scss */
    .ads_160x600 .ads_content_header .title .main {
      font-weight: 100;
      font-size: 12px;
      color: #787878;
      line-height: 20px; }
  /* line 65, ../sass/ads_160x600.scss */
  .ads_160x600 .news ul {
    padding-left: 0px;
    list-style: none;
    margin: 0px; }
    /* line 69, ../sass/ads_160x600.scss */
    .ads_160x600 .news ul li {
      position: relative;
      border-bottom: 1px solid #f1f1f1;
      padding: 15px; }
      /* line 73, ../sass/ads_160x600.scss */
      .ads_160x600 .news ul li a {
        font-weight: bold;
        font-size: 13px;
        line-height: 20px;
        color: #554e4e;
        text-decoration: none; }
  /* line 83, ../sass/ads_160x600.scss */
  .ads_160x600 .donor {
    font-size: 13px;
    padding-left: 10px;
    line-height: 40px; }
    /* line 87, ../sass/ads_160x600.scss */
    .ads_160x600 .donor a {
      color: #24ab48;
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=ads_160x600.css.map */
