/* line 1, ../sass/gallery.scss */
.wrapper {
  background: #222;
  border-radius: 5px;
  border-top-color: #e02b2b;
  width: 700px;
  border-top: 5px solid #fb6c27;
  padding: 20px 0 20px 0;
  font-family: Arial; }
  /* line 9, ../sass/gallery.scss */
  .wrapper .category {
    margin-bottom: 15px; }
    /* line 11, ../sass/gallery.scss */
    .wrapper .category__name {
      margin-left: 20px;
      margin-bottom: 15px; }
      /* line 14, ../sass/gallery.scss */
      .wrapper .category__name a {
        font-weight: bold;
        font-family: Arial;
        text-decoration: none;
        color: #fff;
        font-size: 24px; }
    /* line 25, ../sass/gallery.scss */
    .wrapper .category__control {
      text-align: center;
      float: right;
      padding: 10px 10px 0 0; }
      /* line 29, ../sass/gallery.scss */
      .wrapper .category__control .dotted {
        width: 8px;
        height: 8px;
        background: #c4c4c4;
        border-radius: 50%;
        margin: 3px;
        display: inline-block; }
      /* line 37, ../sass/gallery.scss */
      .wrapper .category__control .slide-active {
        background-color: #ff8000; }
  /* line 42, ../sass/gallery.scss */
  .wrapper .news {
    width: 700px;
    height: auto; }
    /* line 45, ../sass/gallery.scss */
    .wrapper .news__slide {
      position: relative;
      overflow: hidden;
      z-index: 100; }
      /* line 49, ../sass/gallery.scss */
      .wrapper .news__slide .slide__gallery {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 10000px;
        height: 278px;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        white-space: nowrap;
        position: relative;
        transition: 0.5s; }
        /* line 61, ../sass/gallery.scss */
        .wrapper .news__slide .slide__gallery .gallery__item {
          background: transparent !important;
          width: 260px;
          height: 278px;
          margin-left: 20px;
          border-radius: 5px; }
          /* line 67, ../sass/gallery.scss */
          .wrapper .news__slide .slide__gallery .gallery__item a {
            display: block;
            width: 260px;
            height: 165px;
            position: relative; }
            /* line 72, ../sass/gallery.scss */
            .wrapper .news__slide .slide__gallery .gallery__item a img {
              width: 100%;
              height: 100%;
              border-top-left-radius: 5px;
              border-top-right-radius: 5px; }
          /* line 79, ../sass/gallery.scss */
          .wrapper .news__slide .slide__gallery .gallery__item .title {
            padding: 20px 5px;
            margin: 0px;
            background: #fff; }
            /* line 83, ../sass/gallery.scss */
            .wrapper .news__slide .slide__gallery .gallery__item .title a {
              text-decoration: none;
              color: #222;
              white-space: pre-line;
              font-size: 17px; }
      /* line 95, ../sass/gallery.scss */
      .wrapper .news__slide .btn__prev, .wrapper .news__slide .btn__next, .wrapper .news__slide .btn--disable {
        position: absolute;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        top: 120px; }
      /* line 104, ../sass/gallery.scss */
      .wrapper .news__slide .btn__prev {
        background: url("images/kenh14-vn.png") -70px -137px no-repeat;
        left: 0px;
        background-color: #e02b2b;
        border-radius: 0 3px 3px 0; }
      /* line 111, ../sass/gallery.scss */
      .wrapper .news__slide .btn__next {
        background: url("images/kenh14-vn.png") -115px -137px no-repeat;
        right: 0;
        background-color: #e02b2b;
        border-radius: 3px 0 0 3px; }
      /* line 118, ../sass/gallery.scss */
      .wrapper .news__slide .btn__prev:hover, .wrapper .news__slide .btn__next:hover {
        background-color: #fb6c27; }
        /* line 120, ../sass/gallery.scss */
        .wrapper .news__slide .btn__prev:hover .news-list, .wrapper .news__slide .btn__next:hover .news-list {
          left: -20px; }
      /* line 126, ../sass/gallery.scss */
      .wrapper .news__slide .btn--disable {
        background-color: #333 !important;
        opacity: .8;
        pointer-events: none; }
      /* line 132, ../sass/gallery.scss */
      .wrapper .news__slide .btn:hover__prev {
        animation-name: show__btn-prev;
        animation-duration: .5s;
        -webkit-animation-name: show__btn-prev;
        -webkit-animation-duration: .5s;
        left: 0; }
      /* line 139, ../sass/gallery.scss */
      .wrapper .news__slide .btn:hover__next {
        animation-name: show__btn-next;
        animation-duration: .5s;
        -webkit-animation-name: show__btn-next;
        -webkit-animation-duration: .5s;
        right: 0; }
@keyframes show__btn-prev {
  from {
    left: -35px; }
  to {
    left: 0px; } }
@-webkit-keyframes show__btn-prev {
  from {
    -webkit-left: -35px; }
  to {
    -webkit-left: 0px; } }
@keyframes show__btn-next {
  from {
    right: -35px; }
  to {
    right: 0px; } }
@-webkit-keyframes show__btn-next {
  from {
    -webkit-right: -35px; }
  to {
    -webkit-right: 0px; } }

/*# sourceMappingURL=gallery.css.map */
