@media screen and (min-width: 768px){
	body{
		width: 100%;
		margin: 0px auto;
		
		.wrapper{
			margin: 0px auto;
			width: 100%;
			ul{
				
				list-style: none;
				padding: 0px;
				margin: 0px auto;
				position: relative;
				li{
					position: absolute;
				}
			}
		}
		
	}
}
@media screen and (max-width: 768px){
	body{
		width: 100%;
		margin: 0px auto;
		.wrapper{
			margin: 0px auto;
			width: 100%;
			ul{
				
				list-style: none;
				padding: 0px;
				margin: 0px auto;
				position: relative;
				li{
					position: absolute;
				}
			}
		}
		
	}
}