/* line 1, ../sass/step11.scss */
.news, .news1 {
  width: 700px;
  height: auto;
  font-family: Arial;
  box-sizing: border-box;
  background: #f5f5f5;
  border-radius: 3px;
  border: 1px solid #e6e6e6; }
  /* line 9, ../sass/step11.scss */
  .news__slide, .news1__slide {
    position: relative;
    overflow: hidden;
    z-index: 100; }
    /* line 13, ../sass/step11.scss */
    .news__slide .slide__gallery, .news1__slide .slide__gallery {
      list-style: none;
      margin: 0px;
      padding: 0px;
      width: 10000px;
      height: 235px;
      overflow-x: hidden;
      overflow-y: hidden;
      display: flex;
      white-space: nowrap;
      position: relative;
      transition: 0.5s; }
      /* line 25, ../sass/step11.scss */
      .news__slide .slide__gallery .gallery__item, .news1__slide .slide__gallery .gallery__item {
        width: 262px;
        height: 240px;
        margin-left: 20px;
        border: 1px solid #e6e6e6;
        background: #fff;
        border-radius: 3px;
        box-sizing: content-box;
        box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.05); }
        /* line 34, ../sass/step11.scss */
        .news__slide .slide__gallery .gallery__item .image, .news1__slide .slide__gallery .gallery__item .image {
          position: relative;
          display: block; }
          /* line 37, ../sass/step11.scss */
          .news__slide .slide__gallery .gallery__item .image img, .news1__slide .slide__gallery .gallery__item .image img {
            width: 100%;
            height: auto; }
        /* line 42, ../sass/step11.scss */
        .news__slide .slide__gallery .gallery__item .title, .news1__slide .slide__gallery .gallery__item .title {
          padding: 10px;
          margin: 0px;
          font-size: 16px;
          width: inherit;
          box-sizing: border-box;
          font-weight: bold;
          white-space: initial; }
          /* line 50, ../sass/step11.scss */
          .news__slide .slide__gallery .gallery__item .title a, .news1__slide .slide__gallery .gallery__item .title a {
            text-decoration: none;
            color: #222222; }
    /* line 60, ../sass/step11.scss */
    .news__slide .btn__prev, .news__slide .btn__next, .news__slide .btn--disable, .news1__slide .btn__prev, .news1__slide .btn__next, .news1__slide .btn--disable {
      position: absolute;
      width: 35px;
      height: 95px;
      z-index: 10;
      cursor: pointer;
      top: 50px; }
    /* line 69, ../sass/step11.scss */
    .news__slide .btn__prev, .news1__slide .btn__prev {
      background: url("images/kenh14-vn.png") -70px -137px no-repeat;
      left: 0px;
      background-color: rgba(251, 108, 39, 0.9);
      border-radius: 0 3px 3px 0; }
    /* line 76, ../sass/step11.scss */
    .news__slide .btn__next, .news1__slide .btn__next {
      background: url("images/kenh14-vn.png") -115px -137px no-repeat;
      right: 0;
      background-color: rgba(251, 108, 39, 0.9);
      border-radius: 3px 0 0 3px; }
    /* line 83, ../sass/step11.scss */
    .news__slide .btn__prev:hover, .news__slide .btn__next:hover, .news1__slide .btn__prev:hover, .news1__slide .btn__next:hover {
      background-color: #fb6c27; }
      /* line 85, ../sass/step11.scss */
      .news__slide .btn__prev:hover .news-list, .news__slide .btn__next:hover .news-list, .news1__slide .btn__prev:hover .news-list, .news1__slide .btn__next:hover .news-list {
        left: -20px; }
    /* line 91, ../sass/step11.scss */
    .news__slide .btn--disable, .news1__slide .btn--disable {
      background-color: #333 !important;
      opacity: .8;
      pointer-events: none; }
    /* line 97, ../sass/step11.scss */
    .news__slide .btn:hover__prev, .news1__slide .btn:hover__prev {
      animation-name: show__btn-prev;
      animation-duration: .5s;
      -webkit-animation-name: show__btn-prev;
      -webkit-animation-duration: .5s;
      left: 0; }
    /* line 104, ../sass/step11.scss */
    .news__slide .btn:hover__next, .news1__slide .btn:hover__next {
      animation-name: show__btn-next;
      animation-duration: .5s;
      -webkit-animation-name: show__btn-next;
      -webkit-animation-duration: .5s;
      right: 0; }
  /* line 116, ../sass/step11.scss */
  .news .control, .news1 .control {
    text-align: center;
    margin: 20px 0; }
    /* line 119, ../sass/step11.scss */
    .news .control .dotted, .news1 .control .dotted {
      width: 8px;
      height: 8px;
      background: #c4c4c4;
      border-radius: 50%;
      margin: 3px;
      display: inline-block; }
    /* line 127, ../sass/step11.scss */
    .news .control .slide-active, .news1 .control .slide-active {
      background-color: #ff8000; }
@keyframes show__btn-prev {
  from {
    left: -35px; }
  to {
    left: 0px; } }
@-webkit-keyframes show__btn-prev {
  from {
    -webkit-left: -35px; }
  to {
    -webkit-left: 0px; } }
@keyframes show__btn-next {
  from {
    right: -35px; }
  to {
    right: 0px; } }
@-webkit-keyframes show__btn-next {
  from {
    -webkit-right: -35px; }
  to {
    -webkit-right: 0px; } }

/*# sourceMappingURL=step11.css.map */
