/* line 2, ../sass/box-sport.scss */
.header {
  background: url("images/box-sport_03.png") no-repeat left bottom;
  height: 50px;
  background-size: 100%;
  width: 740px; }

/* line 7, ../sass/box-sport.scss */
.wrapper {
  width: 700px;
  background: #f5f5f5;
  padding: 0px 20px 20px 20px; }
  /* line 12, ../sass/box-sport.scss */
  .wrapper .main {
    padding: 15px 0px;
    display: flex;
    border-bottom: 1px solid gray; }
    /* line 16, ../sass/box-sport.scss */
    .wrapper .main .img_cover {
      width: 240%; }
      /* line 18, ../sass/box-sport.scss */
      .wrapper .main .img_cover img {
        width: 100%;
        height: 100%; }
    /* line 23, ../sass/box-sport.scss */
    .wrapper .main .article {
      padding: 20px; }
      /* line 25, ../sass/box-sport.scss */
      .wrapper .main .article .title {
        color: #080354;
        font-size: 24px;
        font-weight: bold; }
      /* line 30, ../sass/box-sport.scss */
      .wrapper .main .article .sumary {
        display: block;
        font-family: Arial;
        font-size: 16px;
        font-weight: 600; }
  /* line 38, ../sass/box-sport.scss */
  .wrapper .news {
    width: 700px;
    height: auto;
    font-family: Arial;
    box-sizing: border-box;
    padding-top: 15px; }
    /* line 44, ../sass/box-sport.scss */
    .wrapper .news__slide {
      position: relative;
      overflow: hidden;
      z-index: 100; }
      /* line 48, ../sass/box-sport.scss */
      .wrapper .news__slide .slide__gallery {
        list-style: none;
        margin: 0px;
        padding: 0px;
        width: 10000px;
        height: 235px;
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        white-space: nowrap;
        position: relative;
        transition: 0.5s; }
        /* line 60, ../sass/box-sport.scss */
        .wrapper .news__slide .slide__gallery .gallery__item {
          width: 262px;
          height: 240px;
          margin-right: 20px;
          border: 1px solid #e6e6e6;
          background: #fff;
          border-radius: 3px;
          box-sizing: content-box;
          box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.05); }
          /* line 69, ../sass/box-sport.scss */
          .wrapper .news__slide .slide__gallery .gallery__item .image {
            position: relative;
            display: block; }
            /* line 72, ../sass/box-sport.scss */
            .wrapper .news__slide .slide__gallery .gallery__item .image img {
              width: 100%;
              height: auto; }
          /* line 77, ../sass/box-sport.scss */
          .wrapper .news__slide .slide__gallery .gallery__item .title {
            padding: 10px;
            margin: 0px;
            font-size: 16px;
            width: inherit;
            box-sizing: border-box;
            font-weight: bold;
            white-space: initial; }
            /* line 85, ../sass/box-sport.scss */
            .wrapper .news__slide .slide__gallery .gallery__item .title a {
              text-decoration: none;
              color: #222222; }
      /* line 95, ../sass/box-sport.scss */
      .wrapper .news__slide .btn__prev, .wrapper .news__slide .btn__next, .wrapper .news__slide .btn--disable {
        position: absolute;
        width: 35px;
        height: 95px;
        z-index: 10;
        cursor: pointer;
        top: 50px; }
      /* line 104, ../sass/box-sport.scss */
      .wrapper .news__slide .btn__prev {
        background: url("images/kenh14-vn.png") -70px -137px no-repeat;
        left: 0px;
        background-color: rgba(251, 108, 39, 0.9);
        border-radius: 0 3px 3px 0; }
      /* line 111, ../sass/box-sport.scss */
      .wrapper .news__slide .btn__next {
        background: url("images/kenh14-vn.png") -115px -137px no-repeat;
        right: 0;
        background-color: rgba(251, 108, 39, 0.9);
        border-radius: 3px 0 0 3px; }
      /* line 118, ../sass/box-sport.scss */
      .wrapper .news__slide .btn__prev:hover, .wrapper .news__slide .btn__next:hover {
        background-color: #fb6c27; }
        /* line 120, ../sass/box-sport.scss */
        .wrapper .news__slide .btn__prev:hover .news-list, .wrapper .news__slide .btn__next:hover .news-list {
          left: -20px; }
      /* line 126, ../sass/box-sport.scss */
      .wrapper .news__slide .btn--disable {
        background-color: #333 !important;
        opacity: .8;
        pointer-events: none; }
      /* line 132, ../sass/box-sport.scss */
      .wrapper .news__slide .btn:hover__prev {
        animation-name: show__btn-prev;
        animation-duration: .5s;
        -webkit-animation-name: show__btn-prev;
        -webkit-animation-duration: .5s;
        left: 0; }
      /* line 139, ../sass/box-sport.scss */
      .wrapper .news__slide .btn:hover__next {
        animation-name: show__btn-next;
        animation-duration: .5s;
        -webkit-animation-name: show__btn-next;
        -webkit-animation-duration: .5s;
        right: 0; }
    /* line 151, ../sass/box-sport.scss */
    .wrapper .news .control {
      text-align: center;
      margin: 20px 0; }
      /* line 154, ../sass/box-sport.scss */
      .wrapper .news .control .dotted {
        width: 8px;
        height: 8px;
        background: #c4c4c4;
        border-radius: 50%;
        margin: 3px;
        display: inline-block; }
      /* line 162, ../sass/box-sport.scss */
      .wrapper .news .control .slide-active {
        background-color: #ff8000; }
@keyframes show__btn-prev {
  from {
    left: -35px; }
  to {
    left: 0px; } }
@-webkit-keyframes show__btn-prev {
  from {
    -webkit-left: -35px; }
  to {
    -webkit-left: 0px; } }
@keyframes show__btn-next {
  from {
    right: -35px; }
  to {
    right: 0px; } }
@-webkit-keyframes show__btn-next {
  from {
    -webkit-right: -35px; }
  to {
    -webkit-right: 0px; } }

/*# sourceMappingURL=box-sport.css.map */
