@charset "UTF-8";
/* line 1, ../sass/ads_300x250.scss */
.ads_300x250 {
  font-family: Arial;
  width: 300px;
  height: 250px;
  position: relative;
  border: 1px solid #f1f1f1; }
  /* line 8, ../sass/ads_300x250.scss */
  .ads_300x250 .ads_header .ads_name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background: #89060d;
    padding: 10px 5px;
    color: #fff; }
  /* line 16, ../sass/ads_300x250.scss */
  .ads_300x250 .ads_header .ads_logo {
    background: url("images/adxlogo-2.png") no-repeat top left;
    width: 35px;
    height: 20px;
    position: absolute;
    z-index: 9;
    top: 0px;
    right: 0px; }
    /* line 24, ../sass/ads_300x250.scss */
    .ads_300x250 .ads_header .ads_logo .ads_logo_text {
      display: none; }
    /* line 27, ../sass/ads_300x250.scss */
    .ads_300x250 .ads_header .ads_logo:hover {
      background: url("images/adxlogo-2-hover.png") no-repeat top left;
      text-decoration: none;
      width: 109px;
      padding-left: 10px; }
      /* line 32, ../sass/ads_300x250.scss */
      .ads_300x250 .ads_header .ads_logo:hover .ads_logo_text {
        display: block;
        font-size: 11px;
        color: #9b9b9b;
        font-weight: 600;
        padding-left: 16px;
        line-height: 17px;
        text-decoration: none; }
  /* line 44, ../sass/ads_300x250.scss */
  .ads_300x250 .ads_content_header {
    padding: 5px;
    display: flex;
    border-bottom: 1px solid #f1f1f1; }
    /* line 48, ../sass/ads_300x250.scss */
    .ads_300x250 .ads_content_header .img {
      margin-right: 10px; }
    /* line 52, ../sass/ads_300x250.scss */
    .ads_300x250 .ads_content_header .title a {
      font-weight: bold;
      font-size: 13px;
      line-height: 15px;
      color: #554e4e;
      text-decoration: none; }
    /* line 59, ../sass/ads_300x250.scss */
    .ads_300x250 .ads_content_header .title .main {
      font-weight: 100;
      font-size: 12px;
      color: #787878; }
  /* line 67, ../sass/ads_300x250.scss */
  .ads_300x250 .news ul {
    padding-left: 3px;
    list-style: none;
    margin: 0px; }
    /* line 71, ../sass/ads_300x250.scss */
    .ads_300x250 .news ul li {
      position: relative;
      border-bottom: 1px solid #f1f1f1;
      padding: 5px; }
      /* line 75, ../sass/ads_300x250.scss */
      .ads_300x250 .news ul li:before {
        content: "•";
        color: #89060d;
        font-size: 30px;
        position: absolute;
        top: -3px; }
      /* line 82, ../sass/ads_300x250.scss */
      .ads_300x250 .news ul li a {
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #554e4e;
        text-decoration: none;
        margin-left: 15px; }
  /* line 93, ../sass/ads_300x250.scss */
  .ads_300x250 .donor {
    font-size: 13px;
    color: #959595;
    padding-left: 10px;
    line-height: 25px; }
    /* line 98, ../sass/ads_300x250.scss */
    .ads_300x250 .donor a {
      color: #89060d;
      font-weight: bold;
      text-decoration: none; }

/*# sourceMappingURL=ads_300x250.css.map */
