@font-face {
  	font-family: "pt";
  	src: url('../libs/fonts/PT_Sans-Web-Regular.ttf')format("truetype");
}
@media print  
	{
	@page {
	  	size: auto;
	  	margin: 0;
	}
}
body{
	.container{
		width: 595px;
		height: 842px;
		line-height: 1;
		font-size: 13px;
		.page-break {page-break-after: always;}
		.col-md-12,.col-md-6{float:left}
		.col-md-12{width:100%; padding: 0px 15px; box-sizing: border-box;}
		.col-md-6{width:50%; padding: 0px 15px; box-sizing: border-box;}
		p{margin: 0 0 10px;}
		.row{clear: both;}
		
		.fw7{font-weight: 700;}
		.red{ color: #ee300e;  }
		margin: 0px auto;
		font-family: pt;
		.header{
			padding: 50px 0 0 20px;
		}
		.address,.listing,.footer{
			margin-left: 50px;
			padding-left: 50px;
		}
		.address{
			margin-top: 50px;
		}
		.listing{
			clear: both;
			padding-top: 80px;
			height: 350px;
			.table{
				text-align: left;
				border-collapse: collapse; 
				border-bottom: 1px solid grey;
				tr{
					border-top: 1px solid grey;
				}
				th,td{
					padding: 7px;
					width: 1%;
					padding-left: 0px;
				}
			}
		}
	}
	
}