/* line 1, ../sass/step12.scss */
.wrapper {
  width: 660px;
  border: 1px solid #ebebeb;
  font-family: Arial;
  display: flex;
  height: 156px;
  overflow: hidden; }
  /* line 8, ../sass/step12.scss */
  .wrapper .box {
    list-style: none;
    padding-left: 0px;
    height: 664px;
    overflow-y: hidden;
    margin: 0px;
    transition: 0.5s; }
    /* line 15, ../sass/step12.scss */
    .wrapper .box .item {
      display: table;
      width: 100%;
      padding: 5px 0; }
      /* line 19, ../sass/step12.scss */
      .wrapper .box .item__img {
        width: 250px;
        height: 156px;
        margin-top: 0px;
        float: left;
        border: 0;
        margin-right: 18px;
        position: static !important; }
      /* line 29, ../sass/step12.scss */
      .wrapper .box .item__article .type {
        font-size: 14px;
        color: #777;
        padding: 0;
        margin: 15px 0 10px;
        line-height: 15px;
        height: 15px; }
      /* line 37, ../sass/step12.scss */
      .wrapper .box .item__article h4 {
        margin: 0px; }
        /* line 39, ../sass/step12.scss */
        .wrapper .box .item__article h4 a {
          font-size: 20px;
          line-height: 26px;
          color: #333;
          text-decoration: none;
          display: block; }
      /* line 47, ../sass/step12.scss */
      .wrapper .box .item__article .category {
        margin-top: 11px;
        margin-bottom: 0;
        font-size: 14px;
        line-height: 19px;
        color: #41455e;
        text-decoration: none;
        padding-right: 8px; }
  /* line 59, ../sass/step12.scss */
  .wrapper #control {
    display: inline-grid; }
    /* line 61, ../sass/step12.scss */
    .wrapper #control #up, .wrapper #control #down {
      width: 39px;
      height: 39px;
      float: right;
      margin-top: 0px;
      cursor: pointer;
      background: #f9f9f9; }
    /* line 69, ../sass/step12.scss */
    .wrapper #control #page {
      z-index: 999;
      width: 38px;
      height: 75px;
      line-height: 75px;
      font-size: 14px;
      color: #555555;
      text-align: center;
      margin-right: 0px;
      float: right; }
    /* line 80, ../sass/step12.scss */
    .wrapper #control #up {
      margin-left: 0px;
      border-bottom: 1px #ebebeb solid; }
      /* line 83, ../sass/step12.scss */
      .wrapper #control #up span {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid #cccccc;
        float: right;
        margin-top: 16px;
        margin-right: 14px;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px; }
    /* line 96, ../sass/step12.scss */
    .wrapper #control #down {
      margin-left: 0px;
      border-top: 1px #ebebeb solid; }
      /* line 99, ../sass/step12.scss */
      .wrapper #control #down span {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 8px solid #cccccc;
        float: right;
        margin-top: 16px;
        margin-right: 14px;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px; }

/*# sourceMappingURL=step12.css.map */
