@font-face {
  font-family: "pt";
  src: url("../libs/fonts/PT_Sans-Web-Regular.ttf") format("truetype"); }
@media print {
  @page {
    size: auto;
    margin: 0; } }
/* line 13, ../sass/style.scss */
body .container {
  width: 595px;
  height: 842px;
  line-height: 1;
  font-size: 13px;
  margin: 0px auto;
  font-family: pt; }
  /* line 18, ../sass/style.scss */
  body .container .page-break {
    page-break-after: always; }
  /* line 19, ../sass/style.scss */
  body .container .col-md-12, body .container .col-md-6 {
    float: left; }
  /* line 20, ../sass/style.scss */
  body .container .col-md-12 {
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box; }
  /* line 21, ../sass/style.scss */
  body .container .col-md-6 {
    width: 50%;
    padding: 0px 15px;
    box-sizing: border-box; }
  /* line 22, ../sass/style.scss */
  body .container p {
    margin: 0 0 10px; }
  /* line 23, ../sass/style.scss */
  body .container .row {
    clear: both; }
  /* line 25, ../sass/style.scss */
  body .container .fw7 {
    font-weight: 700; }
  /* line 26, ../sass/style.scss */
  body .container .red {
    color: #ee300e; }
  /* line 29, ../sass/style.scss */
  body .container .header {
    padding: 50px 0 0 20px; }
  /* line 32, ../sass/style.scss */
  body .container .address, body .container .listing, body .container .footer {
    margin-left: 50px;
    padding-left: 50px; }
  /* line 36, ../sass/style.scss */
  body .container .address {
    margin-top: 50px; }
  /* line 39, ../sass/style.scss */
  body .container .listing {
    clear: both;
    padding-top: 80px;
    height: 350px; }
    /* line 43, ../sass/style.scss */
    body .container .listing .table {
      text-align: left;
      border-collapse: collapse;
      border-bottom: 1px solid grey; }
      /* line 47, ../sass/style.scss */
      body .container .listing .table tr {
        border-top: 1px solid grey; }
      /* line 50, ../sass/style.scss */
      body .container .listing .table th, body .container .listing .table td {
        padding: 7px;
        width: 1%;
        padding-left: 0px; }

/*# sourceMappingURL=style.css.map */
