@font-face {
  font-family: "main-font";
  src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "logo-font";
  src: url("../font/Inconsolata-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "category-font";
  src: url("../font/Ubuntu-L.ttf") format("truetype"); }
/* line 14, ../sass/main.scss */
body {
  margin: 0px; }
  /* line 16, ../sass/main.scss */
  body svg {
    fill: #5d5d5d; }

/* line 20, ../sass/main.scss */
.container {
  width: 100%;
  margin: 0px auto;
  font-family: main-font;
  color: #626262; }
  @media screen and (min-width: 768px) {
    /* line 1, ../sass/component/_header.scss */
    .container .header {
      position: relative;
      margin: 0px 83px; }
      /* line 5, ../sass/component/_header.scss */
      .container .header .menu {
        text-transform: uppercase;
        display: inline-flex; }
        /* line 8, ../sass/component/_header.scss */
        .container .header .menu__logo {
          font-family: logo-font;
          color: #000;
          margin: 70px 0;
          font-size: 30px; }
        /* line 14, ../sass/component/_header.scss */
        .container .header .menu__nav {
          position: absolute;
          right: 0px; }
          /* line 17, ../sass/component/_header.scss */
          .container .header .menu__nav ul {
            list-style: none;
            margin: 70px 0; }
            /* line 20, ../sass/component/_header.scss */
            .container .header .menu__nav ul li {
              display: inline;
              padding-left: 45px; }
              /* line 23, ../sass/component/_header.scss */
              .container .header .menu__nav ul li a {
                text-decoration: none;
                color: #626262; }
        /* line 31, ../sass/component/_header.scss */
        .container .header .menu__toggle {
          display: none; }
      /* line 35, ../sass/component/_header.scss */
      .container .header .banner {
        margin-bottom: 55px; } }
  @media screen and (max-width: 767px) {
    /* line 1, ../sass/component/_header.scss */
    .container .header {
      position: relative;
      margin: 0px; }
      /* line 42, ../sass/component/_header.scss */
      .container .header .menu {
        text-transform: uppercase;
        text-align: center; }
        /* line 45, ../sass/component/_header.scss */
        .container .header .menu__logo {
          font-family: logo-font;
          color: #000;
          font-size: 40px;
          line-height: 40px; }
        /* line 51, ../sass/component/_header.scss */
        .container .header .menu__nav {
          display: none; }
        /* line 56, ../sass/component/_header.scss */
        .container .header .menu__toggle svg {
          float: right; }
        /* line 60, ../sass/component/_header.scss */
        .container .header .menu__toggle .menu-collapsible ul {
          padding: 2px 0 2px 0; }
          /* line 62, ../sass/component/_header.scss */
          .container .header .menu__toggle .menu-collapsible ul li {
            padding: 3px 0 3px 0; }
            /* line 64, ../sass/component/_header.scss */
            .container .header .menu__toggle .menu-collapsible ul li a {
              text-decoration: none;
              color: #626262; }
            /* line 68, ../sass/component/_header.scss */
            .container .header .menu__toggle .menu-collapsible ul li:hover {
              background: #cfcfcf; }
      /* line 76, ../sass/component/_header.scss */
      .container .header .banner {
        margin: 10px 0; } }
  @media screen and (min-width: 768px) {
    /* line 20, ../sass/main.scss */
    .container {
      font-size: 14px;
      line-height: 21px; }
      /* line 30, ../sass/main.scss */
      .container .category {
        font-family: category-font;
        font-size: 14px;
        color: #b4ad9e;
        text-transform: uppercase;
        padding: 40px 0; }
      /* line 39, ../sass/main.scss */
      .container .category_child {
        font-family: category-font;
        text-transform: uppercase;
        padding: 17px 0; }
      /* line 44, ../sass/main.scss */
      .container .col-md-6 {
        width: 50%;
        box-sizing: border-box;
        padding: 67px 0; }
        /* line 48, ../sass/main.scss */
        .container .col-md-6:nth-child(even) {
          padding-left: 30px; }
        /* line 51, ../sass/main.scss */
        .container .col-md-6:nth-child(odd) {
          padding-right: 30px; }
        /* line 54, ../sass/main.scss */
        .container .col-md-6 .title {
          padding: 17px 0;
          font-size: 30px; }
        /* line 58, ../sass/main.scss */
        .container .col-md-6 .sumary {
          padding: 20px 0 0 0; }
      /* line 62, ../sass/main.scss */
      .container .col-md-4 {
        width: 33.33%; } }
  @media screen and (max-width: 767px) {
    /* line 20, ../sass/main.scss */
    .container {
      font-size: 12px;
      line-height: 18px; }
      /* line 69, ../sass/main.scss */
      .container .category {
        font-family: category-font;
        font-size: 14px;
        color: #b4ad9e;
        text-transform: uppercase;
        padding: 15px 0; }
      /* line 76, ../sass/main.scss */
      .container .category_child {
        font-family: category-font;
        text-transform: uppercase;
        padding: 10px 0; }
      /* line 81, ../sass/main.scss */
      .container .col-xs-12 {
        width: 100%; }
        /* line 83, ../sass/main.scss */
        .container .col-xs-12 .category_child {
          font-family: category-font;
          text-transform: uppercase;
          padding: 10px 0; }
      /* line 89, ../sass/main.scss */
      .container .col-xs-8 {
        width: 66.66666667%; } }
  @media screen and (max-width: 767px) {
    /* line 2, ../sass/component/_minimo-1.scss */
    .container .content {
      padding: 0px 5px;
      margin: 0px 0px; } }
  @media screen and (max-width: 767px) and (max-width: 767px) {
    /* line 3, ../sass/component/_content-1.scss */
    .container .content__first .article {
      color: #626262; }
      /* line 6, ../sass/component/_content-1.scss */
      .container .content__first .article__title {
        font-size: 18px;
        padding-bottom: 15px; } }
  @media screen and (max-width: 767px) and (min-width: 768px) {
    /* line 20, ../sass/component/_content-1.scss */
    .container .content__first .article {
      color: #626262; }
      /* line 23, ../sass/component/_content-1.scss */
      .container .content__first .article__title {
        font-size: 30px;
        padding-bottom: 45px; } }
  @media screen and (max-width: 767px) {
      /* line 7, ../sass/component/_minimo-1.scss */
      .container .content__second .article, .container .content__third .article {
        display: flex;
        flex-wrap: wrap; }
      /* line 14, ../sass/component/_minimo-1.scss */
      .container .content__more {
        padding-top: 25px;
        text-align: center; }
        /* line 17, ../sass/component/_minimo-1.scss */
        .container .content__more button {
          padding: 10px 15px;
          font-family: main-font;
          font-size: 14px;
          color: #626262; } }
  @media screen and (min-width: 768px) {
    /* line 29, ../sass/component/_minimo-1.scss */
    .container .content {
      padding: 0px 100px;
      margin: 0px 83px; } }
  @media screen and (min-width: 768px) and (max-width: 767px) {
    /* line 3, ../sass/component/_content-1.scss */
    .container .content__first .article {
      color: #626262; }
      /* line 6, ../sass/component/_content-1.scss */
      .container .content__first .article__title {
        font-size: 18px;
        padding-bottom: 15px; } }
  @media screen and (min-width: 768px) and (min-width: 768px) {
    /* line 20, ../sass/component/_content-1.scss */
    .container .content__first .article {
      color: #626262; }
      /* line 23, ../sass/component/_content-1.scss */
      .container .content__first .article__title {
        font-size: 30px;
        padding-bottom: 45px; } }
  @media screen and (min-width: 768px) {
      /* line 34, ../sass/component/_minimo-1.scss */
      .container .content__second .article, .container .content__third .article {
        display: flex;
        flex-wrap: wrap; }
      /* line 41, ../sass/component/_minimo-1.scss */
      .container .content__more {
        padding-top: 100px;
        text-align: center; }
        /* line 44, ../sass/component/_minimo-1.scss */
        .container .content__more button {
          padding: 25px 30px;
          font-family: main-font;
          font-size: 20px;
          color: #626262; } }
  @media screen and (max-width: 767px) {
    /* line 2, ../sass/component/_minimo-2.scss */
    .container .content {
      margin-top: 20px; }
      /* line 5, ../sass/component/_minimo-2.scss */
      .container .content .minimo-2 .article {
        margin-bottom: 100px; }
        /* line 9, ../sass/component/_minimo-2.scss */
        .container .content .minimo-2 .article blockquote {
          font-style: oblique; }
          /* line 11, ../sass/component/_minimo-2.scss */
          .container .content .minimo-2 .article blockquote:before {
            content: '"'; }
          /* line 14, ../sass/component/_minimo-2.scss */
          .container .content .minimo-2 .article blockquote:after {
            content: '"'; }
        /* line 18, ../sass/component/_minimo-2.scss */
        .container .content .minimo-2 .article .share {
          font-family: category-font;
          float: right;
          margin: 50px 0 0 0; }
      /* line 29, ../sass/component/_minimo-2.scss */
      .container .content .comment .list-comment .item {
        display: flex;
        margin: 12px 0; }
        /* line 32, ../sass/component/_minimo-2.scss */
        .container .content .comment .list-comment .item__avt {
          margin-right: 10px; }
          /* line 34, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__avt img {
            border-radius: 30px;
            width: 40px;
            height: 40px; }
        /* line 40, ../sass/component/_minimo-2.scss */
        .container .content .comment .list-comment .item__cmt {
          width: 100%; }
          /* line 42, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt textarea {
            font-family: main-font;
            padding: 10px 0 0 0px;
            margin-right: 5px; }
          /* line 47, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .connect {
            float: right;
            margin: 10px 0; }
            /* line 50, ../sass/component/_minimo-2.scss */
            .container .content .comment .list-comment .item__cmt .connect span {
              font-family: category-font;
              text-transform: uppercase;
              color: #c9c9c7; }
          /* line 57, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .name {
            font-weight: bold;
            padding: 10px 0; }
          /* line 64, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .reply .-fainter a {
            text-decoration: none;
            color: #c9c9c7; }
    /* line 77, ../sass/component/_minimo-2.scss */
    .container .more {
      padding: 10px 10px;
      background: #f7f7f7; }
      /* line 80, ../sass/component/_minimo-2.scss */
      .container .more .wrapper {
        display: block; }
        /* line 82, ../sass/component/_minimo-2.scss */
        .container .more .wrapper figure {
          margin: 1px;
          padding: 3px; }
          /* line 85, ../sass/component/_minimo-2.scss */
          .container .more .wrapper figure a {
            text-decoration: none;
            color: #626262; } }
  @media screen and (min-width: 767px) {
    /* line 96, ../sass/component/_minimo-2.scss */
    .container .content {
      margin-top: 100px; }
      /* line 99, ../sass/component/_minimo-2.scss */
      .container .content .minimo-2 .article {
        margin-bottom: 100px; }
        /* line 101, ../sass/component/_minimo-2.scss */
        .container .content .minimo-2 .article img {
          margin: 30px 0; }
        /* line 104, ../sass/component/_minimo-2.scss */
        .container .content .minimo-2 .article blockquote {
          font-style: oblique; }
          /* line 106, ../sass/component/_minimo-2.scss */
          .container .content .minimo-2 .article blockquote:before {
            content: '"'; }
          /* line 109, ../sass/component/_minimo-2.scss */
          .container .content .minimo-2 .article blockquote:after {
            content: '"'; }
        /* line 113, ../sass/component/_minimo-2.scss */
        .container .content .minimo-2 .article .share {
          font-family: category-font;
          float: right;
          margin: 50px 0 0 0;
          color: #c9c9c7; }
      /* line 125, ../sass/component/_minimo-2.scss */
      .container .content .comment .list-comment .item {
        display: flex;
        margin: 30px 0; }
        /* line 128, ../sass/component/_minimo-2.scss */
        .container .content .comment .list-comment .item__avt {
          margin-right: 40px; }
          /* line 130, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__avt img {
            border-radius: 30px; }
        /* line 134, ../sass/component/_minimo-2.scss */
        .container .content .comment .list-comment .item__cmt {
          width: 100%; }
          /* line 136, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt textarea {
            font-family: main-font;
            padding: 20px; }
          /* line 140, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .connect {
            float: right;
            margin: 50px 0; }
            /* line 143, ../sass/component/_minimo-2.scss */
            .container .content .comment .list-comment .item__cmt .connect span {
              font-family: category-font;
              text-transform: uppercase;
              color: #c9c9c7; }
          /* line 150, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .name {
            font-weight: bold;
            padding: 10px 0; }
          /* line 157, ../sass/component/_minimo-2.scss */
          .container .content .comment .list-comment .item__cmt .reply .-fainter a {
            text-decoration: none;
            color: #c9c9c7; }
    /* line 170, ../sass/component/_minimo-2.scss */
    .container .more {
      padding: 60px 180px;
      background: #f7f7f7; }
      /* line 173, ../sass/component/_minimo-2.scss */
      .container .more .wrapper {
        display: inline-flex; }
        /* line 176, ../sass/component/_minimo-2.scss */
        .container .more .wrapper figure a {
          text-decoration: none;
          color: #626262; } }
  @media screen and (max-width: 767px) {
    /* line 2, ../sass/component/_minimo-3.scss */
    .container .minimo-3 {
      margin-top: 30px; }
      /* line 4, ../sass/component/_minimo-3.scss */
      .container .minimo-3 .about-me {
        margin: 5px; }
        /* line 9, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .top-posts ul li a {
          text-decoration: none;
          color: #626262;
          font-weight: bold; }
        /* line 14, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .top-posts ul li p {
          text-transform: uppercase;
          color: #c9c9c7;
          font-family: category-font;
          font-size: 12px; }
        /* line 24, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .ads {
          width: 250px;
          height: 250px;
          background: gray;
          font-size: 60px;
          font-family: category-font;
          color: #fff;
          text-align: center;
          box-sizing: border-box;
          padding-top: 100px;
          margin-bottom: 20px; } }
  @media screen and (min-width: 767px) {
    /* line 42, ../sass/component/_minimo-3.scss */
    .container .minimo-3 {
      display: flex;
      margin-top: 100px; }
      /* line 45, ../sass/component/_minimo-3.scss */
      .container .minimo-3 .about-me {
        margin-left: 40px; }
        /* line 50, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .top-posts ul li a {
          text-decoration: none;
          color: #626262;
          font-weight: bold; }
        /* line 55, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .top-posts ul li p {
          text-transform: uppercase;
          color: #c9c9c7;
          font-family: category-font;
          font-size: 12px; }
        /* line 65, ../sass/component/_minimo-3.scss */
        .container .minimo-3 .about-me .ads {
          width: 250px;
          height: 250px;
          background: gray;
          font-size: 60px;
          font-family: category-font;
          color: #fff;
          text-align: center;
          box-sizing: border-box;
          padding-top: 100px; } }
  @media screen and (max-width: 767px) {
    /* line 2, ../sass/component/_sign-up.scss */
    .container .sign-up {
      text-align: center;
      background: #f0f0f0;
      padding: 20px 10px;
      margin: 20px 0; }
      /* line 7, ../sass/component/_sign-up.scss */
      .container .sign-up p {
        color: #333333;
        font-size: 16px; }
      /* line 12, ../sass/component/_sign-up.scss */
      .container .sign-up input {
        padding: 15px 0;
        font-family: main-font;
        border: none;
        border-bottom: 1px solid #333333;
        background: none;
        font-size: 12px; }
      /* line 20, ../sass/component/_sign-up.scss */
      .container .sign-up button {
        background: none;
        border: none;
        position: absolute;
        right: 60px; }
        /* line 25, ../sass/component/_sign-up.scss */
        .container .sign-up button img {
          padding: 15px 0; } }
  @media screen and (min-width: 768px) {
    /* line 33, ../sass/component/_sign-up.scss */
    .container .sign-up {
      text-align: center;
      background: #f0f0f0;
      padding: 80px 0;
      margin-bottom: 20px; }
      /* line 38, ../sass/component/_sign-up.scss */
      .container .sign-up p {
        color: #333333;
        font-size: 30px; }
      /* line 43, ../sass/component/_sign-up.scss */
      .container .sign-up input {
        padding: 15px 0;
        font-family: main-font;
        border: none;
        border-bottom: 1px solid #333333;
        background: none; }
      /* line 51, ../sass/component/_sign-up.scss */
      .container .sign-up button {
        background: none;
        border: none;
        position: absolute;
        right: 445px; }
        /* line 56, ../sass/component/_sign-up.scss */
        .container .sign-up button img {
          padding: 15px 0; } }
  /* line 1, ../sass/component/_footer.scss */
  .container .footer {
    background: #f0f0f0; }
    /* line 3, ../sass/component/_footer.scss */
    .container .footer a {
      text-decoration: none;
      color: #626262; }
    /* line 7, ../sass/component/_footer.scss */
    .container .footer .left {
      float: left; }
    /* line 10, ../sass/component/_footer.scss */
    .container .footer .right {
      float: right; }
    @media screen and (max-width: 767px) {
      /* line 1, ../sass/component/_footer.scss */
      .container .footer {
        margin-top: 20px;
        padding: 20px 20px; } }
    @media screen and (min-width: 767px) {
      /* line 1, ../sass/component/_footer.scss */
      .container .footer {
        margin-top: 70px;
        padding: 40px 150px; } }

/*# sourceMappingURL=main.css.map */
