@font-face {
  font-family: "regular";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "medium";
  src: url("../fonts/Poppins-Medium.ttf") format("truetype"); }
@font-face {
  font-family: "bold";
  src: url("../fonts/Poppins-Bold.ttf") format("truetype"); }
/* line 14, ../sass/contact.scss */
body {
  background: linear-gradient(45deg, #00dbde, #fc00ff); }

/* line 17, ../sass/contact.scss */
.contact-us {
  padding: 42px 55px 45px 55px;
  margin-top: 20px;
  border-radius: 10px;
  font-family: regular;
  background: #fff; }
  /* line 23, ../sass/contact.scss */
  .contact-us .form-title {
    font-family: bold;
    text-align: center; }
  /* line 29, ../sass/contact.scss */
  .contact-us .label-input {
    font-size: 13px; }
  /* line 32, ../sass/contact.scss */
  .contact-us .form-control {
    font-family: medium !important;
    border: none !important;
    border-bottom: 2px solid #d9d9d9 !important;
    border-radius: 0px !important;
    -webkit-box-shadow: none;
    padding-left: 0px;
    height: 40px;
    font-size: 18px; }
  /* line 42, ../sass/contact.scss */
  .contact-us .btn {
    width: 100%;
    border-radius: 25px;
    background: -webkit-linear-gradient(left, #00dbde, #fc00ff, #00dbde, #fc00ff);
    height: 50px;
    transition: all 0.4s; }
  /* line 49, ../sass/contact.scss */
  .contact-us textarea {
    min-height: 110px; }
  /* line 52, ../sass/contact.scss */
  .contact-us .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;
    font-family: Poppins-Regular;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s; }
  /* line 84, ../sass/contact.scss */
  .contact-us .alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px; }
  /* line 99, ../sass/contact.scss */
  .contact-us .alert-validate:hover:before {
    visibility: visible;
    opacity: 1; }
  /* line 104, ../sass/contact.scss */
  .contact-us .focus {
    color: red;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none; }
  /* line 114, ../sass/contact.scss */
  .contact-us .focus::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: #7f7f7f; }

/*# sourceMappingURL=contact.css.map */
