.news,.news1{
	width: 700px;
	height: auto;
	font-family: Arial;
	box-sizing: border-box;
	background: #f5f5f5;
	border-radius: 3px;	
	border: 1px solid #e6e6e6;
	&__slide{
		position: relative;
		overflow: hidden;
		z-index: 100;
		.slide__gallery{
			list-style: none;
			margin: 0px;
			padding: 0px;
			width: 10000px;
			height: 235px;
			overflow-x: hidden;
			overflow-y: hidden;
			display: flex;
			white-space: nowrap;
			position: relative;
			transition: 0.5s;
			.gallery__item{
				width: 262px;
				height: 240px;
				margin-left: 20px;
				border: 1px solid #e6e6e6;
				background: #fff;
				border-radius: 3px;
				box-sizing: content-box;
				box-shadow: 0px 1px 5px 0 rgba(0,0,0,0.05);
					.image{
						position: relative;
						display: block;
						img {
							width: 100%;
							height: auto;
						}
					}
					.title {
						padding: 10px;
						margin: 0px;
						font-size: 16px;
						width: inherit;
						box-sizing: border-box;
						font-weight: bold;
						white-space: initial;
						a{
							text-decoration: none;
							color: #222222;
						}
					}
				
			}
		}
		.btn{
			// button control next-previous
			&__prev, &__next, &--disable {
				position: absolute;
				width: 35px;
				height: 95px;
				z-index: 10;
				cursor: pointer;
				top: 50px;
			}
			// button previous
			&__prev {
				background: url("images/kenh14-vn.png") -70px -137px no-repeat;
				left: 0px;
				background-color: rgba(251, 108, 39, 0.9);
				border-radius: 0 3px 3px 0;
			}
			// button next
			&__next {
				background: url("images/kenh14-vn.png") -115px -137px no-repeat;
				right: 0;
				background-color: rgba(251, 108, 39, 0.9);
				border-radius: 3px 0 0 3px;
			}
			&__prev, &__next {
				&:hover {
					background-color: rgba(251, 108, 39, 1);
					.news-list {
						left: -20px;
					} 
				}
			}
			//button disable
			&--disable {
				background-color: #333 !important;
				opacity: .8;
				pointer-events: none;
			}
			&:hover {
				&__prev {
					animation-name: show__btn-prev;
					animation-duration: .5s;
					-webkit-animation-name: show__btn-prev;
					-webkit-animation-duration: .5s;
					left: 0;
				}
				&__next {
					animation-name: show__btn-next;
					animation-duration: .5s;
					-webkit-animation-name: show__btn-next;
					-webkit-animation-duration: .5s;
					right: 0;
				}
			}
		}
		
	}
	//dotted control
	.control {
		text-align: center;
		margin: 20px 0;
		.dotted {
			width: 8px;
			height: 8px;
			background: #c4c4c4;
			border-radius: 50%;
			margin: 3px;
			display: inline-block;
		}
		.slide-active {
			background-color: #ff8000;
		}
	}

// animation show button previous of slide
@keyframes show__btn-prev {
	from {left: -35px}
	to {left: 0px}
}
@-webkit-keyframes show__btn-prev {
	from {-webkit-left: -35px}
	to {-webkit-left: 0px}
}

@keyframes show__btn-next {
	from {right: -35px}
	to {right: 0px}
}
@-webkit-keyframes show__btn-next {
	from {-webkit-right: -35px}
	to {-webkit-right: 0px}
}
}