#modal{
	display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 1; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  animation-name: zoom;
	  animation-duration: 0.5s;
	  width: 100%;
	  height: 100%;
	  padding-left: 18%;
	  padding-top: 30px;
}
@keyframes zoom {
	 from{transform: scale(0)}
	 to {transform: scale(1);} 
}
.album_wrapper{
	width: 100%;
	display: grid;
	.album_content{
	display: grid;
	margin: 0px auto;
		.album_row{
			float: left;
			width: auto;
			margin-bottom: .5rem;
			.album_item{
				display: block;
			    float: left;
			    margin: 0 .25rem;
				a{
					border: 0;
				    display: block;
				    position: relative;
				    width: 100%;
				    height: 100%;
				}
			}
		}
	}
	.caption{
		font-family: Arial;
		color: #666666;
		font-weight: bold;
		background: #f2f2f2;
		padding: 15px;
	}
}


