/* line 2, ../sass/menu1.scss */
.nav {
  font-family: Arial;
  font-size: 15px;
  background-image: #a51220;
  background-color: #a51220;
  list-style-type: none;
  display: block;
  height: 40px; }
  /* line 7, ../sass/menu1.scss */
  .nav .logo {
    padding: 0px !important; }
  /* line 10, ../sass/menu1.scss */
  .nav li {
    display: inline-block;
    line-height: 40px;
    height: 100%;
    float: left;
    padding: 0px 15px; }
    /* line 24, ../sass/_master_menu.scss */
    .nav li a {
      text-decoration: none;
      text-transform: capitalize;
      color: #fff;
      font-weight: bold;
      display: block;
      height: 100%; }
    /* line 12, ../sass/menu1.scss */
    .nav li:hover {
      background-color: #962d2d; }
      /* line 14, ../sass/menu1.scss */
      .nav li:hover a {
        color: #fff; }

/*# sourceMappingURL=menu1.css.map */
