/* line 2, ../sass/menu3.scss */
.nav {
  font-family: Arial;
  font-size: 11px;
  /*@include define_background(linear-gradient(#5d87d4,#0c306a ));*/
  background: url("../images/bg-dantri.png") repeat-x;
  list-style-type: none;
  display: block;
  height: 27px; }
  /* line 8, ../sass/menu3.scss */
  .nav .logo {
    padding: 0px !important; }
  /* line 11, ../sass/menu3.scss */
  .nav li {
    display: inline-block;
    line-height: 40px;
    height: 100%;
    float: left;
    padding: 0px 5px;
    line-height: 27px;
    border-right: 1px solid #3e70af; }
    /* line 24, ../sass/_master_menu.scss */
    .nav li a {
      text-decoration: none;
      text-transform: capitalize;
      color: #fff;
      font-weight: bold;
      display: block;
      height: 100%; }
    /* line 15, ../sass/menu3.scss */
    .nav li:hover {
      background-color: rgba(102, 150, 204, 0.81); }
      /* line 17, ../sass/menu3.scss */
      .nav li:hover a {
        color: #fff; }

/*# sourceMappingURL=menu3.css.map */
