/* line 2, ../sass/news-category.scss */
.col-12 {
  width: 50%;
  padding: 0 10px;
  margin: 0px auto;
  display: block;
  padding-left: 30px;
  font-family: Arial; }
  /* line 9, ../sass/news-category.scss */
  .col-12 .category {
    text-transform: uppercase;
    font-size: 24px;
    border-left: 5px solid #f96c34;
    padding-left: 10px;
    font-weight: bold; }
  /* line 17, ../sass/news-category.scss */
  .col-12 .day, .col-12 .month, .col-12 .year, .col-12 .btn {
    border-radius: 5px;
    height: 30px; }
  /* line 22, ../sass/news-category.scss */
  .col-12 .btn {
    font-weight: bold;
    background-color: #777777;
    color: #fff;
    width: 65px;
    border: none; }

/* line 31, ../sass/news-category.scss */
.container {
  padding-top: 30px;
  width: 50%;
  margin: 0px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 32% 32% 32%;
  font-family: Arial;
  line-height: 1.5;
  color: #222222; }
  /* line 41, ../sass/news-category.scss */
  .container .col-4 {
    width: 100%;
    display: block;
    float: left;
    padding: 0 10px; }
  /* line 47, ../sass/news-category.scss */
  .container .title {
    font-size: 16px;
    font-weight: bold; }
    /* line 50, ../sass/news-category.scss */
    .container .title .hot {
      font-weight: bold;
      background-color: #777777;
      color: #fff;
      padding: 5px;
      border-radius: 5px;
      border: none; }
    /* line 58, ../sass/news-category.scss */
    .container .title .time {
      font-weight: 300;
      color: gray; }

/*# sourceMappingURL=news-category.css.map */
