/* line 1, ../sass/news-list.scss */
body {
  display: flex;
  flex-direction: column;
  font-family: Arial; }

/* line 6, ../sass/news-list.scss */
.container {
  width: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border-bottom: 0.1px solid #d2cece;
  color: #333333;
  line-height: 1.5; }
  /* line 15, ../sass/news-list.scss */
  .container .img_cover {
    width: 75%; }
  /* line 18, ../sass/news-list.scss */
  .container .article {
    padding-left: 20px; }
    /* line 20, ../sass/news-list.scss */
    .container .article a {
      text-decoration: none;
      font-weight: bold; }
    /* line 24, ../sass/news-list.scss */
    .container .article .title {
      font-weight: bold;
      font-size: 18px; }
    /* line 28, ../sass/news-list.scss */
    .container .article .info, .container .article .sumary {
      font-size: 13px; }

/*# sourceMappingURL=news-list.css.map */
