/* line 2, ../sass/news-list-3.scss */
body {
  width: 30%;
  margin: 0px auto;
  font-family: Arial;
  line-height: 1.2; }
  /* line 7, ../sass/news-list-3.scss */
  body .category {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    border-left: 5px solid #fc6129;
    padding: 0 0 5px 10px; }
  /* line 14, ../sass/news-list-3.scss */
  body .container {
    padding: 10px 0; }
  /* line 18, ../sass/news-list-3.scss */
  body .larger .title {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 30px; }
  /* line 24, ../sass/news-list-3.scss */
  body .small {
    display: flex; }
    /* line 26, ../sass/news-list-3.scss */
    body .small .title {
      font-size: 18px;
      font-weight: bold;
      padding-left: 15px; }

/*# sourceMappingURL=news-list-3.css.map */
