@charset "UTF-8";
/* line 2, ../sass/news-slide.scss */
.trend {
  background-color: #f5f5f5;
  font-family: Arial;
  width: 64%;
  margin: 0px auto;
  height: 400px;
  font-weight: bold;
  line-height: 1.5; }
  /* line 10, ../sass/news-slide.scss */
  .trend .category {
    font-size: 30px;
    padding: 10px;
    text-transform: uppercase; }
    /* line 15, ../sass/news-slide.scss */
    .trend .category:before {
      content: "↝";
      font-size: 30px;
      color: orange;
      padding-right: 25px; }
  /* line 22, ../sass/news-slide.scss */
  .trend .container {
    background: #f5f5f5;
    width: 100%; }
    /* line 25, ../sass/news-slide.scss */
    .trend .container .wrapper {
      list-style: none;
      padding: 0px; }
      /* line 28, ../sass/news-slide.scss */
      .trend .container .wrapper .slide {
        width: 260px;
        height: 278px;
        float: left;
        margin: 10px;
        background: #fff; }
        /* line 34, ../sass/news-slide.scss */
        .trend .container .wrapper .slide .img_cover {
          height: 163px;
          position: relative;
          display: block; }
          /* line 38, ../sass/news-slide.scss */
          .trend .container .wrapper .slide .img_cover .view {
            display: block;
            width: 100%;
            height: 40px;
            position: absolute;
            bottom: 0px;
            background-color: rgba(0, 0, 0, 0.81);
            color: #fff; }
            /* line 46, ../sass/news-slide.scss */
            .trend .container .wrapper .slide .img_cover .view img {
              width: 10%;
              position: absolute;
              top: 8px;
              left: 5px; }
            /* line 52, ../sass/news-slide.scss */
            .trend .container .wrapper .slide .img_cover .view .count {
              font-weight: 100;
              left: 15%;
              top: 20%;
              position: absolute; }
        /* line 62, ../sass/news-slide.scss */
        .trend .container .wrapper .slide .title {
          padding: 10px; }
    /* line 67, ../sass/news-slide.scss */
    .trend .container .pagination-bullets {
      display: -webkit-inline-box;
      position: relative;
      left: 40%; }
      /* line 71, ../sass/news-slide.scss */
      .trend .container .pagination-bullets .bullet {
        padding: 0 10px; }
        /* line 73, ../sass/news-slide.scss */
        .trend .container .pagination-bullets .bullet:before {
          content: "○"; }
    /* line 79, ../sass/news-slide.scss */
    .trend .container .btn {
      font-size: 40px;
      color: #fff; }
    /* line 85, ../sass/news-slide.scss */
    .trend .container .btn-previous:before {
      position: absolute;
      top: 30%;
      content: "🡐";
      float: left;
      background-color: #000000ab; }
    /* line 95, ../sass/news-slide.scss */
    .trend .container .btn-next:before {
      content: "🡒";
      position: absolute;
      top: 30%;
      right: 18%;
      background-color: #000000ab; }

/*# sourceMappingURL=news-slide.css.map */
