/* line 2, ../sass/playlist.scss */
.playlist-wrapper {
  display: flex;
  width: 50%;
  margin: 0px auto;
  font-family: Arial;
  height: 350px;
  overflow: hidden; }
  /* line 9, ../sass/playlist.scss */
  .playlist-wrapper .video-play {
    width: 100%;
    height: auto;
    position: relative; }
    /* line 13, ../sass/playlist.scss */
    .playlist-wrapper .video-play .video {
      width: 100%;
      height: 100%; }
    /* line 17, ../sass/playlist.scss */
    .playlist-wrapper .video-play .logo {
      float: left;
      display: block;
      background: url("http://kenh14cdn.com/2018/mutex-on-stream-logo-1515474404046.png") left top no-repeat;
      background-size: 100px;
      width: 100px;
      height: 30px;
      position: absolute;
      top: 7%;
      margin-left: 2%; }
    /* line 28, ../sass/playlist.scss */
    .playlist-wrapper .video-play .source {
      position: absolute;
      margin-left: 77%;
      font-size: 10px;
      top: 7%;
      color: #fff;
      width: 15%;
      text-align: right;
      font-weight: bold; }
    /* line 38, ../sass/playlist.scss */
    .playlist-wrapper .video-play .sub {
      /* margin-bottom: 15%; */
      position: absolute;
      bottom: 0px;
      padding: 10px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      background: rgba(6, 6, 6, 0.31); }
      /* line 47, ../sass/playlist.scss */
      .playlist-wrapper .video-play .sub span {
        color: red;
        font-size: 30px; }
      /* line 51, ../sass/playlist.scss */
      .playlist-wrapper .video-play .sub:hover {
        margin-bottom: 15%; }
  /* line 57, ../sass/playlist.scss */
  .playlist-wrapper .right .mutex-header {
    background-color: rgba(0, 2, 34, 0.1);
    padding: 12px 15px 15px; }
    /* line 60, ../sass/playlist.scss */
    .playlist-wrapper .right .mutex-header span {
      display: block;
      background: url("http://kenh14cdn.com/2018/mutex-on-stream-logo-1515474404046.png") left top no-repeat;
      background-size: 86px;
      width: 86px;
      height: 20px; }
  /* line 68, ../sass/playlist.scss */
  .playlist-wrapper .right .wrapper {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow-y: scroll;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    /* line 74, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper::-webkit-scrollbar {
      width: 8px; }
    /* line 79, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 3px; }
    /* line 85, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 3px; }
    /* line 91, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper::-webkit-scrollbar-thumb:hover {
      background: gray; }
    /* line 94, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper .list {
      display: flex;
      padding: 10px; }
      /* line 95, ../sass/playlist.scss */
      .playlist-wrapper .right .wrapper .list .img_cover {
        width: 45px;
        height: 45px;
        margin-right: 10px; }
        /* line 99, ../sass/playlist.scss */
        .playlist-wrapper .right .wrapper .list .img_cover img {
          border-radius: 3px;
          width: 45px;
          height: 100%; }
      /* line 107, ../sass/playlist.scss */
      .playlist-wrapper .right .wrapper .list:hover {
        background-color: #f1f1f1; }
    /* line 111, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper .title {
      font-size: 13px;
      font-weight: bold; }
      /* line 114, ../sass/playlist.scss */
      .playlist-wrapper .right .wrapper .title a {
        text-decoration: none;
        color: #222222; }
    /* line 119, ../sass/playlist.scss */
    .playlist-wrapper .right .wrapper .info {
      display: block;
      font-size: 12px;
      font-weight: 100;
      color: #888; }

/*# sourceMappingURL=playlist.css.map */
