/* line 1, ../sass/step9.scss */
.news {
  width: 35%;
  margin: 0px auto;
  font-family: arial; }
  /* line 7, ../sass/step9.scss */
  .news .container .header .category {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold; }
  /* line 12, ../sass/step9.scss */
  .news .container .header .scroll {
    float: right; }
    /* line 14, ../sass/step9.scss */
    .news .container .header .scroll button {
      width: 50px;
      border-radius: 5px;
      height: 30px;
      font-size: 20px; }
  /* line 23, ../sass/step9.scss */
  .news .container .content .wrapper {
    padding: 20px;
    background-color: #fffbf6;
    border: 0.5px solid gray;
    border-radius: 3px;
    height: 500px;
    overflow-y: scroll;
    list-style: none;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */ }
    /* line 32, ../sass/step9.scss */
    .news .container .content .wrapper::-webkit-scrollbar {
      width: 8px; }
    /* line 37, ../sass/step9.scss */
    .news .container .content .wrapper::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px; }
    /* line 43, ../sass/step9.scss */
    .news .container .content .wrapper::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 10px; }
    /* line 49, ../sass/step9.scss */
    .news .container .content .wrapper::-webkit-scrollbar-thumb:hover {
      background: gray; }
    /* line 52, ../sass/step9.scss */
    .news .container .content .wrapper .item {
      display: flex;
      flex-direction: rows;
      border-bottom: 1px dotted gray; }
      /* line 56, ../sass/step9.scss */
      .news .container .content .wrapper .item .time {
        color: orange;
        border-right: 1px dotted gray;
        padding-right: 15px; }
      /* line 61, ../sass/step9.scss */
      .news .container .content .wrapper .item .title {
        border-left: 1px dotted gray;
        padding-left: 15px; }
        /* line 64, ../sass/step9.scss */
        .news .container .content .wrapper .item .title a {
          text-decoration: none;
          font-weight: bold;
          color: #222222; }

/*# sourceMappingURL=step9.css.map */
