/* line 2, ../sass/step8.scss */
body {
  font-family: arial; }

/* line 5, ../sass/step8.scss */
.container {
  width: 30%;
  margin: 0px auto; }
  /* line 10, ../sass/step8.scss */
  .container .wrapper .list {
    display: flex;
    padding: 10px; }
    /* line 13, ../sass/step8.scss */
    .container .wrapper .list:hover {
      background-color: #f1f1f1; }
    /* line 16, ../sass/step8.scss */
    .container .wrapper .list .img_cover {
      width: 45px;
      height: 45px;
      margin-right: 10px; }
      /* line 21, ../sass/step8.scss */
      .container .wrapper .list .img_cover img {
        width: 45px;
        height: 100%;
        border-radius: 3px; }
  /* line 29, ../sass/step8.scss */
  .container .wrapper .title {
    font-size: 13px;
    font-weight: bold; }
    /* line 32, ../sass/step8.scss */
    .container .wrapper .title a {
      text-decoration: none;
      color: #222222; }
  /* line 37, ../sass/step8.scss */
  .container .wrapper .info {
    display: block;
    font-size: 12px;
    font-weight: 100;
    color: #888; }

/*# sourceMappingURL=step8.css.map */
