/* line 8, ../sass/step5.scss */
#wrapper {
  width: 720px;
  height: 812px;
  margin: 0px auto; }
  /* line 10, ../sass/step5.scss */
  #wrapper .img_cover {
    max-width: 100%; }
  /* line 13, ../sass/step5.scss */
  #wrapper .title {
    font: bold 30px/1.5 "Open Sans", sans-serif; }
  /* line 16, ../sass/step5.scss */
  #wrapper .sumary {
    color: #444444;
    font: normal 20px/1.5 "Open Sans", sans-serif; }

/*# sourceMappingURL=step5.css.map */
