/* line 1, ../sass/step7.scss */
body {
  display: flex;
  flex-direction: column; }

/* line 6, ../sass/step7.scss */
.container {
  font-family: Arial;
  width: 50%;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  padding: 7px 0; }
  /* line 13, ../sass/step7.scss */
  .container .img_cover {
    max-width: 20%;
    padding-right: 20px; }
  /* line 17, ../sass/step7.scss */
  .container .title {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #000; }

/*# sourceMappingURL=step7.css.map */
