body{ font-family: Arial; font-size: 13px; line-height: 1.5; }
a{ text-decoration: none; }
#list-short li:before{ content: url('../img/li.png'); }
#list-short li a{ color: #064273; }
#list-short{ list-style: none; color: #064273; width: 434px; height: 414px; margin: 0px auto;}


#news-hot-3{ width: 1154px; height: 572px; margin: 0px auto; line-height: 1.5; color: #9e9e9e;}
#news-hot-3 .img_article{ width: 35%; height: 100%; float: left; margin-right: 10px;}
#news-hot-3 .article{  height: 100%; width: 45%; float: left; }
#news-hot-3 .article>.title{ font-size: 24px; font-weight: bold; color: #000;}
#news-hot-3 .article>.info>.category , .read_more_title{ font-weight: bold;color: #41455d; }
.dotted_line{
  border-bottom: 1px dotted gray;
  width: 100%;
}
#news-hot-3 .article>.read_more > ul{padding-left: 15px !important; line-height: 2; font-size: 16px; list-style: none;}

#news-hot-3 .article>.read_more > ul li::before {
  content: "■";
  color: red;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}


#news-list-2{ font-size: 16px; width: 1196px; height: 286px; margin: 0px auto; }
#news-list-2 ul{ list-style: none;  }
#news-list-2 ul li:before{
	content: "•";
  	color: #f96c34;
  	font-weight: bold;
  	display: inline-block; 
  	width: 1em;
  	margin-left: -1em;
}



#news-one-mobile{ width: 460px; margin: 0px auto; }
#news-one-mobile .title{ font-size: 26px; font-weight: bold; }
#news-one-mobile>.content>.img_content{ width: 50%; float: left;}
#news-one-mobile>.content>.sumary_content a{ font-size: 16px; color: #555555; font-weight: bold; }
#news-one-mobile>.content>.sumary_content>.category{ font-weight: bold;color: #fa723f; }
#news-one-mobile>.content>.sumary_content>.time{ color: #b3b3b3; font-size: 13px; }


#news-short-1 { width: 568px; margin: 0px auto; line-height: 1.5; padding: 15px; }
#news-short-1>.category { border-left: 5px solid #fc6129; font-size: 35px; text-transform: uppercase; font-weight: bold; padding-left: 15px; }
#news-short-1>.title_main>a{ font-size: 30px; font-weight: bold; color: #2d2d2d; }
#news-short-1>.title_main>.sumary{ font-size: 20px; font-weight: normal; padding-bottom: 20px; color: #a0a0a0;}
#news-short-1>.title_dif>a{ font-size: 20px; font-weight: bold; padding: 15px 0; color: #2d2d2d; }


#step1{ width: 1366px; margin: 0px auto; height: 394px; }
#step1>.img{ width: 35%;  float: left; margin-right: 20px;}
#step1>.article>.title,#step1>.article>.title> a{ font-size: 26px; font-weight: bold; color: #333333; }
#step1>.article{ width: 42%; float: left; font-size: 16px;}
#step1>.article>.sumary { color: #a0a0a0; }
#step1>.article>.info>.category{color: #41455d; font-weight: bold;}



#step3{ width: 450px; height: 465px; margin: 0px auto;  border: 15px solid #f5f5f5; margin-bottom: 15px;}
#step3>.img_cover>.view{ height: 45px; background: #000; opacity: 0.7; top: -50px; position: relative; padding-left: 20px; }
#step3>.img_cover>.view>.time{ font-size: 24px; color: #fff; position: relative;top: -7px; }
#step3>.title{ font-size: 30px; font-weight: bold;  padding-left: 15px;  }